# Files and directories created by pub/tools
.packages
.pub/
build/
.dart_tool/
deploy/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

# Credentials
.travis/*.key
.travis/*.key.pub
