@import 'package:cs61a_scheme/styles/syntax';
@import 'package:cs61a_scheme/styles/input';
@import 'package:cs61a_scheme/styles/diagram';
@import 'package:cs61a_scheme/styles/editor';
@import 'package:cs61a_scheme/styles/repl';
@import 'package:cs61a_scheme/styles/turtle';

@font-face {
  font-family: 'Inconsolata-g';
  src: url('/assets/Inconsolata-g.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}
